h2 {
    font-family: 'Courier New', Courier, monospace;
    color: green
}

.facts-list li {
    display: list-item;
    margin: 10px;
    padding: 5px;
    text-align: left;
    font-size: 1.1rem;
}

.facts-list li:nth-of-type(odd) {
    list-style-type: "\1F384";
}

.facts-list li:nth-of-type(even) {
    list-style-type: "\26C4";
}

.home-alone-facts {
    background-image: url("../images/home-alone-cover.jpg");
    background-size: cover;
    background-position: center;
    border: 8px dotted #ea5858;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    padding: 20px;
    max-width: 800px;
    margin: 50px auto;
}

.frosted-box {
    background: rgba(212, 189, 189, 0.703);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    padding: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}