.gallery-img {
    width: 100%;           
    height: 300px;          
    object-fit: cover;      
    border: 5px solid maroon;
    box-shadow: 2px 2px 5px gray;
    border-radius: 8px;
}

main.container {
    padding: 30px;
    background-color: lightyellow;
}
.img-container {
    width: 100%;
    text-align: center;  
}

.source-link {
    display: block;      
    font-size: 14px;
    color: darkgreen;
    opacity: 0.6;         
    margin-top: 5px;   
    text-decoration: none; 
   
}

.img_description {
    color: #4b2e05;
    font-family: Georgia, serif;
    font-style: italic;
    padding-top: 10px;
    text-align: left;
    line-height: 1.4;
}

#intro {
    font-family: Georgia, serif;
    color: darkgreen;
    font-size: 18px;
    background-color: #fff8dc;
    padding: 1em;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
}


.gallery-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    gap: 30px;
    list-style: none;
    padding: 0;
    width: 80%;
    margin: 0 auto;   
    justify-items: center;
}


.gallery-list li article {
    background-color: #fff8dc;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 1px 1px 6px lightgray;
    width: 100%;
    max-width: 500px;   
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    min-height: 450px; 
}