.gallery-img {
    border: 5px solid maroon;
    box-shadow: 2px 2px 5px gray;
}

.img_description{
    color: #4b2e05;
    font-family: Georgia, serif;
    font-style: italic;
    padding: 10px;
    width: 80%;
    margin-top: 5px;

}
li {
  display: inline-block;
  margin: .7em;
  position: relative;
  text-align: left;
}
.source-link {
  display: block;
  font-size: 13px;
  color: darkgreen;
  opacity: 0.8;
  text-align: left;
  margin-top: 2px;
 
}

#intro {
    font-family: Georgia, serif;
    color: darkgreen;
    font-size: 18px;
    background-color: #fff8dc;
    padding: 1em;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;

}