
.anime-bg {
  margin-top: 50px;
  width: 100%;
  height: 500px; 
  background: url('../images/alone.jpg') center/cover no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: bgZoom 15s ease forwards;
}

@keyframes bgZoom {
  0% {transform: scale(1);}
  100% {transform: scale(1.1);}
}

.anime-bg h2,
.anime-bg p {
  position: relative;
  color: rgb(255, 255, 255);
  font-family: fantasy;
  text-align: center;
  margin: 150px 50px;
  z-index: 1;
}

.anime-bg p {
  max-width: 600px;     /* limits width */
  margin: 0 auto;       /* centers it */
  padding: 10em;         /* space inside */
  word-wrap: break-word; /* prevent overflow */
}

.anime-bg:hover h2, 
.anime-bg:hover p {
  transform: scale(1.1);
  letter-spacing: 2px;
}

footer {
  margin-top: 100px;
  color: #1fc097;
}