h1 {
    color:#800000;
    font-family: fantasy;
}

.short-bio p{
    border: 1px black solid;
    padding: 5em; 
}

body {
    text-align: center;
    background-color: lightyellow;
    /* background-image: url("../images/alone.jpg"); */
    background-blend-mode: multiply;
}

li {
    display: inline;
    margin: 14px;
}

footer {
    margin-top: 100px;
    color: purple;
    font-weight: bold;
}
