h1 {
    color:green;
    font-family: fantasy;
}

.short-bio p{
    border: 1px black solid;
    padding: 5em; 
}

body {
    text-align: center;
}

li {
    display: inline;
    margin: 14px;
}

footer {
    margin-top: 100px;
    color: purple;
    font-weight: bold;
}