
body {
    text-align: center;
    background-color: lightyellow;
}

header h1 {
  font-size: 2.5rem;
  font-family: fantasy;
  text-align: center;
  margin: 20px 0;
  color: #ffcc00;
}

li {
    display: inline;
    margin: 14px;
}

nav ul li a {
  text-decoration: none;
  color: #1fc097;
  padding: 8px 15px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #ffcc00;
  transform: scale(1.1);
}

footer {
  margin-top: 100px;
  color: #1fc097;
}

